@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: var(--White);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgb(0 0 0 / 5%);
  width: 320px;
  height: 500px;
}
section div img {
  max-width: 100%;
  border-radius: 10px;
}
section div:nth-child(1) {
  padding: 15px 15px 0 15px;
}
section div:nth-child(2) {
  padding: 0 30px 30px 30px;
}
section div p {
  color: var(--Grayish-blue);
}
section div h1 {
  color: var(--Dark-blue);
  margin: 20px 0 17px 0px;
}
